.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  max-width: 100%;
  a {
    text-decoration: none;
    color: $color7;
  }
  .section-title {
    margin-bottom: 5em;
  }
}

.skill-img {
  height: 25vh;
}

.sub-skill {
  font-size: 3vw;
}

.icon-skill {
  width: 8vw;
}

.skill-menu {
  position: relative;
  top: -5em;
  z-index: 0;
}

.toggle {
  display: none;
}

.style  {
  cursor: pointer;
  transform: scale(1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.8s;
  p {
    font-size: 2.5vw;
  }
}

.toggle:checked + .style {
  transform: translateY(-5vw) scale(0.4);
}

.skill-menu input[type=checkbox] + label:before {
    content: "";
    position: absolute;
}

.toggle + .style:before, .toggle + .style:after {
  content: "";
  position: absolute;
  border-radius: 0.5em;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 3em;
  height: 0;
  left: 1em;
  top: 2.5em;
}

.toggle + .style:after {
  width: 0;
  height: 3em;
  left: 2.5em;
  top: 1em;
}

.toggle:checked + .style:before, .toggle:checked + .style:after {
  transform: rotate(200deg);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  transform: translate(-100%, -100%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: scale(1);
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -30vh;
  left: -10vw;
  transition-delay: 0s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -30vh;
  left: 25vh;
  transition-delay: 0.125s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
  left: -25vw;
  transition-delay: 0.25s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
  left: 25vw;
  transition-delay: 0.375s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 15vh;
  left: -10vw;
  transition-delay: 0.5s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: 18vh;
  left: 11.5vw;
  transition-delay: 0.625s;
}

@media screen and
(min-width: 320px) and
(max-width: 399px) {
  .icon-skill {
    width: 5em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 15vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 40vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 23vh;
    left: 25vw;
  }
}

@media screen and
(min-width: 400px) and
(max-width: 500px) {
  .icon-skill {
    width: 6em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 20vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -20vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 35vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 23vh;
    left: 20vw;
  }
}

@media screen and
(min-width: 501px) and
(max-width: 767px) { 
  .icon-skill {
    width: 6em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 20vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 35vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 21vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 25vh;
    left: 20vw;
  }
}

@media screen and
(min-width: 768px) and
(max-width: 900px) {
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 25vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    left: 25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 15vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 18vh;
    left: 15vw;
  }
}

@media screen and 
(max-height: 500px) {

  .section3 .section-title {
    margin-bottom: 2em;
  }  

  .skill-menu {
    position: relative;
    top: -5vh;
    z-index: 0;
  }

  .icon-skill {
    width: 4em;
  }
}