.section4 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-contact {
  height: 75vh;
  width: 70%;
  background-color: #716040;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-contact {
  height: 100%;
  width: 50%;
  border-right: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.left-contact img {
  margin-left: 4em;
  width: 70%;
}

.contact-form {
  height: 100%;
  width: 50%;
}

.first-line {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.contact-form h2 {
  font-size: 3.2em;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.contact input,
.contact textarea {
  background-color: #eff0f3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  width: 70%;
  margin: auto;
  padding: 10px;
  border-radius: 7px;
}

.contact textarea {
  height: 170px;
  resize: none;
}

.contact input:hover {
  box-shadow: 0px 10px 13px -7px #000000;

}

.button-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  margin-top: 2em;
  margin-right: 7em;
}

.button-contact .button {
  width: 5em;
  font-size: 2em;
  padding: 8px 14px;
  color: #020826;
  background-color: #fffffe;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;;
}

.button-contact .button:hover {
  color: #eff0f3;
  background-color: #000000;
}


@media screen and (max-width: 768px) {

  .left-contact {
    display: none;
  }

  .contact-form {
    height: 100%;
    width: 100%;
  }
  .contact-form h2 {
    font-size: 2.5em;
    margin: auto;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  
  
  .contact input,
  .contact textarea {
    background-color: #eff0f3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
  }
  
  .contact textarea {
    height: 170px;
    resize: none;
  }
  
  .contact input:hover
  .contact textarea:hover {
    box-shadow: 0px 10px 13px -7px #000000;
  
  }
  
  .button-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    margin-top: 2em;
    margin-right: 7em;
  }
  
  .button-contact .button {
    width: 5em;
    font-size: 2em;
    padding: 8px 14px;
    color: #020826;
    background-color: #fffffe;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;;
  }
  
}






