footer {
  background-color: #716040;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: 100%;
}

.footer-img {
  width: 50px;
  margin-right: 2em;
}


.link-footer {
  margin-left: 2em;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer p {
  font-size: 1.6em;
}

.sub-img {
  display: none;
  position: relative;
}

.right-footer {
  margin-right: 2em;
}

@media screen and (max-width: 600px) {
  footer {
    height: 10vh;
  }
  
  .footer-img {
    width: 3.5em;
  }

  .icon {
    width: 2em;
  }
  
  footer p {
    font-size: 1em;
  }

  .link-footer {
    gap: 1em;
  }
}

