.header-menu {
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.hamburger {
  font-size: 4em;
  padding: 10px 15px;
  color: #020826;;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hamburger:hover {
  color: #f9f4ef;
}

.link-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.link2 {
  text-decoration: none;
  color: #020826;
  font-size: 32px;
}

.link2:hover {
  color: #f25042;
}

.header-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}

.header-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup0 {
  padding: 100px;
  background: #eaddcf;
  border-radius: 5px;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup0 .close-menu {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #020826;
}

.popup0 .close-menu:hover {
  color: #f25042;
}

.hamburger {
  display: none;
}


/*                   PHONES       */
@media screen and (max-width: 600px) {

}

/*             TABLETS            */
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

}



/*                LAPTOPS          */
@media screen and (max-width: 992px){


}


/*                 LARGE             */
@media screen and (max-width: 1200px) {


}

