/*
.logo,
.name-link,
.full-name,
.menu-list {
  border: 1px solid black;
}*/

.logo {
  padding-left: auto;
  width: 100px;
  margin-top: 0px;
  margin-left: 120px;
}

.name-link {
  text-decoration: none;
  color: #0d0d0d;
  font-family: 'Bebas Neue', cursive;
}

.full-name {
  margin-left: 100px;
  margin-right: auto;
  margin-top: 1px;
  font-size: 35px;
  letter-spacing: 2px;
}

.menu-icon {
  display: none;
}

.menu-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  list-style-type: none;
  gap: 100px;
}

.menu-link {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #2a2a2a;
  transition-delay: 3s;
}

@media (max-width: 900px) {

  header {
    height: auto;
  }

  .logo {
    width: 90px;
    margin: 2px 0;
  }

  .full-name {
    white-space: nowrap;
    margin-right: 168px;
  }
  .surname {
    color: #0d0d0d;
  }

  .menu-list {
    display: none;
  }

  .menu-icon {
    color: #0d0d0d;
    border-radius: 5px;
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    cursor: pointer;
  }

  .closebtn {
    color: black;
    margin-top:1px;
    margin-right: 3px;
  }

}

@media (max-width: 600px) {

  header {
    height: auto;
  }

  .full-name {
    font-size: 20px;
    margin-left: 20px;

  }

  .logo {
    width: 80px;
    margin: 2px 0;
  }

  .menu-icon {
    font-size: 24px;
    position: absolute;
    top: 30px;
  }

}