.profile-picture {
  margin: auto;
  width: 30em;
  object-fit: cover;
  border-radius: 20px;
}

.box {
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2em;
  padding: 10px 15px;
  color: #020826;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #716040;
  color: #fffffe;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 8em;
  width: 90em;
  background-image: url("../img/about-me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: relative;
  top: 10%;
  z-index: 1;
  transition: all 5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup .close {
  position: absolute;
  top: 0px;
  right: 25px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #2a2a2a;
}

.about-me h1 {
  font-size: 30px;
}

.left-content {
  position: relative;
  top: -5em;
  left: -3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-content p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  width: 20em;
  text-align: start;
  line-height: 1.4em;
}

.link-description {
  text-decoration: underline;
  color: #716040;
}

.link-description:hover {
  color: #f25042;
}

.right-content {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
}

.button-content {
  position: relative;
  top: 0.5em;
  left: 8.5em;
  width: 5em;
  font-size: 2em;
  padding: 10px 15px;
  color: #020826;
  background-color: #fffffe;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button-content:hover {
  background-color: #716040;
}


@media screen and (max-width: 768px) {
  .popup {
    padding: 10px;
    width: 350px;
    height: 80vh;
    background-image: url("../img/about-me-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 5em;
  }

  .left-content p {
    font-size: 1.5em;
    width: 22em;
    text-align: center;
    line-height: 1.2em;
    position: relative;
    top: 20em;
    left: 12em;
  }

  .link-description {
    color: #f25042;
  }
  
  .link-description:hover {
    color: #fffffe;
  }

  .profile-picture {
    width: 20em;
    border-radius: 20px;
    object-fit: cover;
    object-position: left;
    position: relative;
    top: 4em;
    right: 21em;
  }

  .button-content {
    position: relative;
    top: 16em;
    left: -4em;
    width: 5em;
    font-size: 1.5em;
    padding: 8px 13px;
  }
}


@media screen and (max-width: 1080px) and (min-width: 768px) {

  .profile-picture {
    width: 20em;
  }  

  .popup {
    margin: auto;
    padding: 8em;
    width: 55em;
    height: 40em;
    background-image: url("../img/about-me-mid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: relative;
  }
  
  .about-me h1 {
    font-size: 30px;
  }
  
  .left-content {
    position: relative;
  }
  
  .left-content p {
    position: relative;
    top: 2em;
    font-size: 1.6em;
    width: 18em;
  }
    
  .button-content {
    left: 30%;
  }
  
}




