.profile-picture {
  width: 300px;
  border-radius: 20px;
  margin-right: 20px;
}

.box {
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2em;
  padding: 10px 15px;
  color: #2a2a2a;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #eff0f3;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 100px;
  background: #eff0f3;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #2a2a2a;
}
.popup .content {
  max-height: 20%;
  overflow: auto;
}