.profile-picture {
  width: 30em;
  border-radius: 20px;
  margin-right: 20px;
}

.box {
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2em;
  padding: 10px 15px;
  color: #2a2a2a;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #eff0f3;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin:  auto;
  padding: 40px;
  background-image: url("../img/about\ me\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 12%;
  left: 21%;
  z-index: 0;
  transition: all 5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.popup .close {
  position: absolute;
  top: 0px;
  right: 25px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #2a2a2a;
}
.popup .content {
  max-height: 20%;
  overflow: auto;
}

.about-me h1 {
  font-size: 30px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.description p {
  margin-right: 100px;
  margin-top: 50px;
  font-size: 2em;
  width: 20em;
  height: 15em;
  text-align: center;
  line-height: 1.4em;
}

/*                   PHONES       */
@media screen and (max-width: 600px) {
  .popup {
    padding: 10px;
    width: 350px;
    height: 550px;
    background-image: url("../img/ABOUT\ ME\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 27px;
  }

  .description p {
    margin-right: 100px;
    margin-top: 50px;
    font-size: 0.8em;
    width: 20em;
    height: 40em;
    text-align: center;
    line-height: 1.4em;
  }

  .profile-picture {
    width: 10em;
    border-radius: 20px;
    margin-right: 20px;
  }

  .description {
    margin-top: 50em;
    height: 52.5em;
    width: 32.5em;
  

}

/*             TABLETS            */
@media screen and (max-width: 768px) {

}



/*                LAPTOPS          */
@media screen and (max-width: 992px){


}


/*                 LARGE             */
@media screen and (max-width: 1200px) {


}
