.project-list {
  list-style-type: none;
  border: 2px solid black;
  width: auto;
}

.card1,
.card2,
.card3 {
  border: 2px solid black;
  position: absolute;
  display: flex;
  height: 500px;
  width: 800px;
  transition: 0.4s ease-out;
  position: relative;
  margin-top: 50px;
}

.card:not(:first-child) {
    margin-left: 25px;
}

.card1:hover,
.card2:hover,
.card3:hover {
  transform: scale(1.8);
  transform: translate(300px 500px 600px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  transition: 0.4s ease-out;
}

.img1-project,
.img2-project,
.img3-project {
  border: 2px solid black;
  margin: auto;
  width: 550px;
}






