
.picture-profile,
.my-description,
.text,
.description,
.project1,
.project2 {
  border: 2px solid black;
}


.picture-profile {
  width: 256px;
  
  object-fit: scale-down;
}

.my-description {
  object-fit: scale-down;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  text-align: center;
}

.text {
  margin-top: -200px;
  color: #F2C826;
  width: fit-content;
  font-size: 36px;
  line-height: 30px;
}

.description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #F2C826;
  font-size: 20px;
  width: 200px;
}

.project1 {
  margin: auto;
  position: relative;
  right: 100px;
  width: 300px;
  height: 500px;
  object-fit: contain;
}

.project2 {
  margin: auto;
  width: 150px;
  height: 300px;
}


/*
@media (max-width: 750px) {
  .picture-profile {
    left: 135px;
  }
}

@media (max-width: 650px) {
  .picture-profile {
    left: 120px;
  }
}

@media (max-width: 550px) {
  .picture-profile {
    left: 105px;
  }
}

@media (max-width: 450px) {
  .picture-profile {
    left: 50px;
  }
}