

.picture-profile {
  margin-left: 100px;
  width: 250px;
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.text {
  color: #F2C826;
  width: 400px;
  margin-top: 80px;
  font-size: 36px;
  line-height: 30px;
}

.description {
  color: #F2C826;
  font-size: 20px;
  width: 200px;
}

.project1 {
  width: 150px;
  height: 300px;
  border: 2px solid white;
}

.project2 {
  width: 150px;
  height: 300px;
  border: 2px solid white;
}