section {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}

.picture-profile {
  margin: 0px 0px 0 0;
  width: 250px;
}

.text {
  color: #F2C826;
  width: 400px;
  margin-top: 80px;
  margin-left: 120px;
  font-size: 36px;
  line-height: 30px;
}

.description {
  color: #F2C826;
  font-size: 20px;
  width: 200px;
  margin-left: 150px;
}