.section1 h3 {
  font-size: 4em;
  color: #020826;
  margin-bottom: 0.1em;
}

.right-sidebar {
  margin-left: -7em;
  margin-right: 2em;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.icon {
  width: 4em;
}

.icon:hover {
  transform: scale(1.3);
}

.link-ext {
  list-style-type: none;
  line-height: 30px;
}

/*    Mobile   */

@media screen 
and (min-width: 320px) 
and (max-width: 480px)  {
  .right-sidebar {
    display: none;
  }
}