.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  max-width: 100%;
}

.section3 .section-title {
  margin-top: 0;
  margin-bottom: 4em;
}

.section3 a {
  text-decoration: none;
  color: #2a2a2a;
}


.skill-img {
  height: 23em;
}

.sub-skill {
  font-size: 3em;
}

.icon-skill {
  width: 10em;
}

.skill-menu {
  position: relative;
  top: -7em;
  z-index: 0;
}

.toggle {
  display: none;
}

.style  {
  cursor: pointer;
  transform: scale(1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
 transition: all 0.8s;
}

.style p {
  font-size: 2.5em;
}

.toggle:checked + .style {
  transform: translateY(-5em) scale(0.4);
}

.skill-menu input[type=checkbox] + label:before {
    content: "";
    position: absolute;
}

.toggle + .style:before, .toggle + .style:after {
  content: "";
  position: absolute;
  border-radius: 0.5em;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 3em;
  height: 0;
  left: 1em;
  top: 2.5em;
}

.toggle + .style:after {
  width: 0;
  height: 3em;
  left: 2.5em;
  top: 1em;
}

.toggle:checked + .style:before, .toggle:checked + .style:after {
  transform: rotate(200deg);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 15em;
  transform: translate(-100%, -100%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: scale(1);
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -17.5em;
  left: -30em;
  transition-delay: 0s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -17.5em;
  left: 30em;
  transition-delay: 0.125s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
  left: -30em;
  transition-delay: 0.25s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
  left: 30em;
  transition-delay: 0.375s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 17.5em;
  left: -30em;
  transition-delay: 0.5s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: 17.5em;
  left: 30em;
  transition-delay: 0.625s;
}



@media screen and (max-width: 768px) {

  .icon-skill {
    width: 7em;
  }  
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -17.5em;
    left: -10em;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -17.5em;
    left: 10em;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    left: -10em;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    left: 10em;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 17.5em;
    left: -10em;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 17.5em;
    left: 10em;
  }


}








