.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.section3 .section-title {
  margin-top: 0;
  margin-bottom: 4em;
}

.section3 a {
  text-decoration: none;
  color: #2a2a2a;
}


.skill-img {
  height: 23em;
}

.sub-skill {
  font-size: 3em;
}

.icon-skill {
  width: 10em;
}

.skill-description {
  border: 2px solid black;
  width: 10em;
  visibility: hidden;
  opacity: 0;
  position: relative;
}

.tab:target .skill-description {
  visibility: visible;
  opacity: 1;
}

.skill-menu {
  position: relative;
  top: -100px;
}

.toggle {
  display: none;
}

.style  {
  cursor: pointer;
  transform: scale(1);
  z-index: 5;
  display: flex;
 -webkit-transition: all .8s;
 -moz-transition: all .8s;
 -o-transition: all .8s;
 -ms-transition: all .8s;
 transition: all .8s;
}



.toggle:checked + .style {
  transform: translateY(-50px) scale(0.4);
}

.skill-menu input[type=checkbox] + label:before {
    content: "";
    position: absolute;
}

.toggle + .style:before, .toggle + .style:after {
  content: "";
  position: absolute;
  border-radius: 5px;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 30px;
  height: 0px;
  left: 10px;
  top: 25px;
}

.toggle + .style:after {
  width: 0px;
  height: 30px;
  left: 25px;
  top: 10px;
}

.toggle:checked + .style:before, .toggle:checked + .style:after {
  transform: rotate(200deg);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 15em;
  transform: translate(-100%, -100%) scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: scale(1);
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -175px;
  left: -300px;
  transition-delay: 0s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -175px;
  left: 300px;
  transition-delay: 0.125s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
  left: -300px;
  transition-delay: 0.25s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
  left: 300px;
  transition-delay: 0.375s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 175px;
  left: -300px;
  transition-delay: 0.5s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: 175px;
  left: 300px;
  transition-delay: 0.625s;
}


@media screen and (max-width: 768px) {
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -175px;
    left: -175px;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -175px;
    left: 175px;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    left: -175px;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    left: 175px;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 175px;
    left: -175px;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 175px;
    left: 175px;
  }


}








