* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}


body,
header,
.section1,
.section2,
.arrow,
.skills  {
  border: 2px solid black;
}

body {
  /*
  background-image: url("../img/background-yellow-black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: max-content; */
  background-color: #004643;
  
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  height: 15vh;
}

.section1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  height: fit-content;
  margin-left: auto;
  height: 76vh;
}

.section2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  height: auto;
}

.skills {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  height: 87vh;
}

.divide {
  box-sizing: border-box;

}

.arrow {
  min-width: 2%;
  display: block;
  height: 8vh;
  margin: auto;
}


.divide .arrow:hover {
  transform: scale(1.15);
  transition-duration: 0.4s;
}