* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-image: url("../img/background-yellow-black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: max-content;
}
