* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

body {
  font-size: 10px;
  background-color: #f9f4ef;
  scroll-behavior: smooth;
}

/*  HEADER   */

header {
  background-color: #716040;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}

.logo {
  width: 6vw;
  margin: 5%;
}

.header-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.link {
  text-decoration: none;
  color: #020826;
  font-size: 32px;
}

.link:hover {
  color: #fffffe;
}

.hamburger {
  font-size: 4em;
  margin-right: 2em;
  color: #020826;;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hamburger:hover {
  color: #f9f4ef;
}

.link-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.link2 {
  text-decoration: none;
  color: #020826;
  font-size: 3.2em;
}

.link2:hover {
  color: #f25042;
}

.header-overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}

.header-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup0 {
  padding: 8em;
  background: #eaddcf;
  border-radius: 0.5em;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup0 .close-menu {
  position: absolute;
  top: 0.1em;
  right: 0.3em;
  transition: all 200ms;
  font-size: 6em;
  font-weight: bold;
  text-decoration: none;
  color: #020826;
}

.popup0 .close-menu:hover {
  color: #f25042;
}

.hamburger {
  display: none;
}

@media screen and
(min-width: 320px) and
(max-width: 600px) {
  .header-link {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 90%;
  }

  .link-logo {
    position: relative;
    left: -40vw;
  }

  .logo {
    width: 10vw;
  }
}

/*  SECTION1   */

.section1 {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}

.section1 h3 {
  font-size: 4em;
  color: #020826;
  margin-bottom: 0.1em;
}

.right-sidebar {
  margin-left: -7em;
  margin-right: 2em;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.icon {
  width: 3vw;
}

.icon:hover {
  transform: scale(1.3);
}

.link-ext {
  list-style-type: none;
  line-height: 30px;
}

@media screen and
(min-width: 320px) and
(max-width: 600px) {
  .right-sidebar {
    display: none;
  }
}

/*    POPUP-ABOUT-ME    */
.box {
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2em;
  padding: 10px 15px;
  color: #020826;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #716040;
  color: #fffffe;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 8em;
  width: 80vw;
  height: 80vh;
  background-image: url("../img/about-me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
  position: relative;
  top: 10%;
  z-index: 5;
  transition: all 5s ease-in-out;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15vw;
}

.popup .close {
  position: absolute;
  top: 0px;
  right: 25px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #2a2a2a;
}

.about-me h1 {
  font-size: 30px;
}

.left-content {
  width: 40vw;
  margin: auto;
}

.left-content p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  width: 30vw;
  text-align: start;
  line-height: 1.4em;
}

.link-description {
  text-decoration: underline;
  color: #716040;
}

.link-description:hover {
  color: #f25042;
}

.right-content {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vh;
}

.profile-picture {
  margin: auto;
  width: 20vw;
  object-fit: cover;
  border-radius: 20px;
}

.button-content {
  width: fit-content;
  font-size: 2em;
  padding: 10px 15px;
  color: #020826;
  background-color: #fffffe;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button-content:hover {
  background-color: #716040;
}

@media screen and
(min-width: 320px) and
(max-width: 500px) {

  .popup {
    background-image: url("../img/about-me-small.jpg");
  }

  .content {
    justify-content: space-evenly;
  }

  .left-content {
    height: fit-content;
    width: fit-content;
    margin-top: -5vh;
    padding-right: 5vw;
  }

  .left-content p {
    font-size: 3.5vw;
    width: 35vw;
  }

  .right-content {
    height: fit-content;
    width: fit-content;
    margin-left: -15vw;
    margin-top: -3vh;
  }

  .profile-picture {
    width: 30vw;
    height: 50vh;
    object-fit: cover;
    object-position: left;
  }

  .button-content {
    font-size: 4vw;
  }
}

@media screen and
(min-width: 501px) and
(max-width: 901px) {
  .popup {
    background-image: url("../img/about-me-mid.jpg");
  }

  .content {
    justify-content: space-evenly;
  }

  .left-content {
    height: fit-content;
    width: fit-content;
    padding-right: 5vw;
  }

  .left-content p {
    font-size: 2.5vw;
    width: 35vw;
  }

  .right-content {
    height: fit-content;
    width: fit-content;
    margin-left: -15vw;
    margin-top: -3vh;
  }

  .profile-picture {
    width: 30vw;
    height: 50vh;
    object-fit: cover;
    object-position: left;
  }

  .button-content {
    font-size: 4vw;
  }
}

@media screen and 
(max-height: 500px) {
  .popup {
    overflow: scroll;
  }
}

/*  ARROW DIVIDE   */

.divide {
  position: relative;
  z-index: 0;
  height: 20vh;
}

.arrow {
  display: block;
  margin-top: -2.5vh;
  cursor: pointer;
}

.arrow span {
  display: block;
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 3px solid #020826;
  border-right: 3px solid #020826;
  transform: rotate(180deg);
  animation: animate 1s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0, 0);
  }
}

@media screen and
(min-width: 320px) and
(max-width: 768px) {
  .divide {
    height: 10vh;
  }
  .arrow span {
    width: 1em;
    height: 1em;
  }
}

/*   SECTION2-WOKS    */

.section2 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-title {
  font-size: 5em;
  text-shadow: 5px 5px 3px rgba(0,0,0,0.3);
}

.works {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 45vw;
  height: 60vh;
  background-color: transparent;
  perspective: 100em;
  border-radius: 1.5em;
  
}

.img1 , .img2  {
  width: 45vw;
  height: 60vh;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5em;
  border: 2px solid #0d0d0d;
}


.card-content { 
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-content-front,
.card-content-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.card-content-back {
  background: #716040;
  transform: rotateY(180deg);
  border: 2px solid #0d0d0d;
}

.card-content-back h1,
.card-content-back p {
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-content-back h1 {
  font-size: 5em;
  color: #2a2a2a;
}

.card-content-back p {
  font-size: 2.5em;
  text-align: center;
  width: 8em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #2a2a2a;
}

.loader {
  height: 5em;
  transform-origin: bottom center;
  animation: spinner 3s linear infinite;
  margin-top: -30px;
}

.load {
  display: inline-block;
  background-color: #f9f4ef;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  transform: scale(0);
  animation: load 1.5s linear infinite;
  margin: -10px;
}

.load:nth-child(2) {
  background-color: #0d0d0d;
  animation-delay: 0.4s;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes load {
  50% {
    transform: scale(1);
  }
}

@media screen and
(min-width: 320px) and
(max-width: 500px) {
  .works {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -5vh;
    gap: 2vh;
  }
  
  .card, .img1, .img2 {
    width: 45vw;
    height: 30vh;
  }

  .card-content-back h1 {
    font-size: 6vw;
  }

  .card-content-back p {
    font-size: 3.5vw;
  }

  .loader {
    height: 5vh;
  }

  .load {
    height: 4vh;
    width: 4vh;
    margin: -3.5vh;
  }
}

/*   SECTION3-SKILLS    */

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  max-width: 100%;
}

.section3 .section-title {
  margin-bottom: 5em;
}

.section3 a {
  text-decoration: none;
  color: #2a2a2a;
}


.skill-img {
  height: 25vh;
}

.sub-skill {
  font-size: 3vw;
}

.icon-skill {
  width: 8vw;
}

.skill-menu {
  position: relative;
  top: -5em;
  z-index: 0;
}

.toggle {
  display: none;
}

.style  {
  cursor: pointer;
  transform: scale(1);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.8s;
}

.style p {
  font-size: 2.5vw;
}

.toggle:checked + .style {
  transform: translateY(-5vw) scale(0.4);
}

.skill-menu input[type=checkbox] + label:before {
    content: "";
    position: absolute;
}

.toggle + .style:before, .toggle + .style:after {
  content: "";
  position: absolute;
  border-radius: 0.5em;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 3em;
  height: 0;
  left: 1em;
  top: 2.5em;
}

.toggle + .style:after {
  width: 0;
  height: 3em;
  left: 2.5em;
  top: 1em;
}

.toggle:checked + .style:before, .toggle:checked + .style:after {
  transform: rotate(200deg);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  transform: translate(-100%, -100%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: scale(1);
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -30vh;
  left: -10vw;
  transition-delay: 0s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -30vh;
  left: 25vh;
  transition-delay: 0.125s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
  left: -25vw;
  transition-delay: 0.25s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
  left: 25vw;
  transition-delay: 0.375s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 15vh;
  left: -10vw;
  transition-delay: 0.5s;
}

.skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: 18vh;
  left: 11.5vw;
  transition-delay: 0.625s;
}

@media screen and
(min-width: 320px) and
(max-width: 399px) {
  .icon-skill {
    width: 5em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 20vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 40vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 23vh;
    left: 25vw;
  }
}

@media screen and
(min-width: 400px) and
(max-width: 500px) {
  .icon-skill {
    width: 6em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 20vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 35vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 23vh;
    left: 20vw;
  }
}

@media screen and
(min-width: 501px) and
(max-width: 767px) { 
  .icon-skill {
    width: 6em;
  }
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 25vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 5vh;
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 5vh;
    left: 30vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 21vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 25vh;
    left: 20vw;
  }
}

@media screen and
(min-width: 768px) and
(max-width: 900px) {
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -20vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -20vh;
    left: 25vh;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(3) {
    left: -25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(4) {
    left: 25vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 15vh;
    left: -10vw;
  }
  
  .skill-menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 18vh;
    left: 15vw;
  }
}

@media screen and 
(max-height: 500px) {

  .section3 .section-title {
    margin-bottom: 2em;
  }  

  .skill-menu {
    position: relative;
    top: 0;
    z-index: 0;
  }
}

/*    SECTION4-CONTACT     */

.section4 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-contact {
  height: 75vh;
  width: 80%;
  background-color: #716040;
  border: 4px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-contact {
  height: 100%;
  width: 50%;
  border-right: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-contact img {
  margin-left: 4em;
  width: 70%;
}

.contact-form {
  height: 100%;
  width: 50%;
}

.first-line {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.contact-form h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact textarea {
  height: 30vh;
  resize: none;
}

.contact input,
.contact textarea {
  background-color: #eff0f3;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  width: 25vw;
  margin: auto;
  padding: 10px;
  border-radius: 7px;
}

.contact input:hover,
.contact textarea:hover {
  box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.75);
}

.button-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
}

.button-contact .button {
  width: 5em;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 8px 14px;
  color: #020826;
  background-color: #fffffe;
  border-radius: 2em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button-contact .button:hover {
  color: #eff0f3;
  background-color: #000000;
}

@media screen and
(min-width: 320px) and
(max-width: 768px) {
  .left-contact {
    display: none;
  }
  .contact-form {
    height: 100%;
    width: 100%;
  }
  
  .first-line {
    margin: 2vh auto;
  }
  
  .contact-form h2 {
    font-size: 5vw;
  }

  .contact input,
  .contact textarea {
    width: 65vw;
  }
  
}

@media screen and 
(max-height: 675px) {
  .left-contact {
    display: none;
  }
  .contact-form {
    height: 100%;
    width: 100%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
  }
  
  .first-line {
    margin: 2vh auto;
  }
  
  .contact-form h2 {
    font-size: 2.5vw;
  }

  .contact input {
    width: 25vw;
    height: 11vh;
  }

  .contact textarea {
    width: 65vw;
    height: 25vh;

  }
}

/*     FOOTER     */

footer {
  background-color: #716040;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.left-footer, .center-footer, .right-footer {
  width: 33%;
}

footer .icon {
  width: 5vw;
}

.footer-img {
  margin-left: 40%;
  padding: 4px;
  width: 6vw;
}

.link-footer {
  margin-left: 2em;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer p {
  font-size: 2vw;
}

@media screen and
(min-width: 320px) and
(max-width: 768px) {
  footer {
    height: 15vh;
  }
  footer .icon {
    width: 5vw;
  }
  
  .footer-img {
    width: 10vw;
  }
  
  .link-footer {
    gap: 5px;
  }
  
  footer p {
    font-size: 2.5vw;
  }
}




