.works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: transparent;
  width: 45em;
  height: 40em;
  perspective: 100em;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 1.5em;
  
}

.img1 , .img2  {
  width: 45em;
  height: 40em;
  object-fit: cover;
  border-radius: 1.5em;
  border: 2px solid #0d0d0d;
}


.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-content-front,
.card-content-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.card-content-back {
  background: #716040;
  transform: rotateY(180deg);
  border: 2px solid #0d0d0d;
}

.card-content-back h1,
.card-content-back p {
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-content-back h1 {
  font-size: 5em;
  color: #2a2a2a;
}

.card-content-back p {
  font-size: 2.5em;
  text-align: center;
  width: 8em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #2a2a2a;
}

.loader {
  height: 5em;
  transform-origin: bottom center;
  animation: spinner 3s linear infinite;
  margin-top: -30px;
}

.load {
  display: inline-block;
  background-color: #f9f4ef;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  transform: scale(0);
  animation: load 1.5s linear infinite;
  margin: -10px;
}

.load:nth-child(2) {
  background-color: #0d0d0d;
  animation-delay: 0.4s;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes load {
  50% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {

  .works {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: center;
    gap: 2em;
  }
  
  .card {
    width: 30em;
    height: 25em;
    
  }
  
  .img1 , .img2 {
    width: 30em;
    height: 25em;
    margin-left: 150px;
  }
}

@media (max-width: 768px) and (max-height: 600px) {
  .works {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    align-items: center;
  }
  
  .card {
    width: 30em;
    height: 25em;
    
  }
  
  .img1 , .img2 {
    width: 30em;
    height: 25em;
  }

}


@media screen and (max-width: 992px){
  
  .card {
    width: 35em;
    height: 23em;
    
  }
  
  .img1 , .img2 {
    width: 35em;
    height: 30em;
  }

  .card-content-back h1 {
    font-size: 3em;
  }
  
  .card-content-back p {
    font-size: 1.5em;
  }

  .load {
    height: 2em;
    width: 2em;
    transform: scale(0);
    animation: load 1.5s linear infinite;
    margin: -5px;
  }
}



